{% extends "FormerStudentsBundle::layout.html.twig" %}

{% block content %}
<div class='content'>
<hr>
{% for student in students %}
  {% if loop.index0 is divisibleby(2) %}
  <div class='row'>
  {% endif %}
  <div class='panel panel-success'>
    <div class='panel-heading'>
    {% if student.civility == 'm' %}
    <img src="{{ asset('images/png/college.png') }}"/>
    {% else %}
    <img src="{{ asset('images/png/people.png') }}"/>
    {% endif %}
    {{ student.firstName }}
    {{ student.lastName }}
    </div>
    <div class='panel-body'>
    <img src="{{ asset('images/png/mail115.png') }}"/> {{ student.email }}<br>
   
       <img src="{{ asset('images/png/school72.png') }}"/>{{ student.university.name }}
      {{ student.university.city }}
      {{ student.university.country }}<br>
   
    </div>
  </div>
  {% if loop.index is divisibleby(2) or loop.index == loop.last %}
  </div>
  {% endif %}
{% else %}
    No students have been found.
{% endfor %}
<hr>
<div class="row text-center">
  <div class="col-lg-12">
      <ul class="pagination">
          <li>
              <a href="#">&laquo;</a>
          </li>
          <li class="active">
              <a href="#">1</a>
          </li>
          <li>
              <a href="#">2</a>
          </li>
          <li>
              <a href="#">3</a>
          </li>
          <li>
              <a href="#">4</a>
          </li>
          <li>
              <a href="#">5</a>
          </li>
          <li>
              <a href="#">&raquo;</a>
          </li>
      </ul>
  </div>
</div>
<hr>
</div>
{% endblock %}
