<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Plateforme d'entraide{% endblock %}</title>

    {# On charge le CSS de bootstrap depuis le site directement #}
    {% block css %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" type="text/css"/>
    {% endblock %}
</head>

<body>
  <nav id='nav' class="nav-tabs.nav-justified" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand fa-ul" href="#">We Study</a>
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('former_students_home')}}" class='fa-lg'>Accueil<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ path('former_students_inscription')}}" class='fa-lg'>Inscription</a></li>
        <li><a href="{{ path('former_students_list')}}" class='fa-lg'>Les anciens</a></li>
        <li><a href="{{ path('former_students_documentation')}}" class='fa-lg'>Documentation</a></li>
      </ul> 
    </div><!-- /.navbar-collapse -->
  </nav>
  <div id='head' class="jumbotron">
    <div class="container"> 
        <h1>We Study</h1>
        <p>
            Le chemin vers l'excéllence
        </p>
    </div>
  </div>
  <section class='content'>
  </section>
  <footer>
    <p>Copyright {{ 'now'|date('Y') }} and beyond.</p>
  </footer>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>